body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* top bar */

.topbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:10px 20px;

background:#020617;
border-bottom:1px solid #1e293b;

}

.logo{
font-size:20px;
font-weight:bold;
}

.controls{
display:flex;
gap:10px;
}

input{
padding:8px;
width:300px;
border-radius:6px;
border:none;
}

select,button{
padding:8px 12px;
border-radius:6px;
border:none;
}

/* tabs */

#tabs{

display:flex;
background:#020617;

border-bottom:1px solid #1e293b;

}

.tab{

padding:10px 15px;
cursor:pointer;
background:#0f172a;

border-right:1px solid #1e293b;

}

.tab.active{
background:#1e293b;
}

/* frames */

#frames{
height:calc(100vh - 100px);
}

iframe{
width:100%;
height:100%;
border:none;
display:none;
}

iframe.active{
display:block;
}